
<div class="container my-5">
  <h1>
    <%= t("passwords.forms.forgot_password_title") %>
  </h1>

  <%= form_with url: passwords_path do |form| %>
    <%= form.email_field :email_address, 
      required: true, 
      autofocus: true, 
      autocomplete: "username", 
      placeholder: "Enter your email address", 
      value: params[:email_address],
      class: "form-control mb-3"
    %>

  <%= form.submit t("passwords.forms.send_reset_instructions"),
    class: "btn btn-primary"
    %>
  <% end %>
</div>
